nav {
	margin: 0 auto 0;

	position: relative;
	width: 420px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 150px;
}
a:nth-child(3) {
	width: 165px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 150px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 165px;
	left: 250px;
	background-color: #3498db;
}
body {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2 {
    color: white;
    text-align: center;
    font-size: 36px;
    margin-top: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin-top:130px; 
}

label {
    color: white;
    text-align: left;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 550;
}


/* Style the select box */
select{
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #fff;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    width: 200px;
}

input{
    text-align: center;
    color: white;
}

/* Style the options */
option {
    background-color: #f2f2f2;
    font-size: 16px;
    text-align-last: center;
    margin: 5px;
}

@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

.bn-main {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.bn-main:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn-main:focus {
    outline: none;
}

.bn-main.bn {
background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #4c49ff,
    #7c21eb
    );
}

input[type="range"] {
    width:200px;
    outline: none;
}

output{
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.small{
    font-size: 20px;
}
.image{
    padding: 5px;
    margin-top: 545px;
    height: 350px;
    width: auto;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  
  .file-input label {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg,#6eddff,#2823be);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
  }
  
  .file-name {
    position: absolute;
    bottom: -35px;
    left: 10px;
    font-size: 0.85rem;
    color: #555;
  }
  
  input:hover + label,
  input:focus + label {
    transform: scale(1.02);
  }
  
  /* Adding an outline to the label on focus */
  input:focus + label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
  }