<!DOCTYPE html>
<html lang="en">
<head>
    <title>AI Music Generation</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="static/images/music.png">
</head>
<body>

    <h1>Music Generation Using</h1>
<nav>
	<a href="#">AI</a>
	<a href="#">Algorithm</a>
	<a href="#">AI Sync Algoritim</a>
	<div class="animation start-home"></div>
</nav>

    <h1>AI Music Generation</h1><br>
    <form action="{{ url_for('ai_generate')}}" method="POST" oninput="result.value = bpm.value">
        <label>Instrument</label>
        <select name="instrument">
            <option value="Piano">Piano</option>
            <option value="Guitar">Guitar</option>
            <option value="Violin">Violin</option>
            <option value="Flute">Flute</option>
            <option value="Soprano">Soprano</option>
            <option value="ElectricGuitar">ElectricGuitar</option>
        </select>
        <br />

        <label>Model</label>
        <select name="model_input">
            <option value="static/models/hindi_songs_v2.h5">Hindi</option>
        </select>
        <br />
        
        <label>Time Signature</label>
        <select name="timesig">
            <option value="2/4">2/4</option>
            <option value="3/4">3/4</option>
            <option value="4/4">4/4</option>
            <option value="2/2">2/2</option>
            <option value="6/8">6/8</option>
            <option value="9/8">9/8</option>
            <option value="12/8">12/8</option>
        </select>
        <br/>

        <label>Bits Per Minute</label>
        <input type="range" min="20" max="200" step="1" name="bpm" value="120"> <output name="result">120</output>
        <br/>

        <input class="bn-main bn" type="submit" value="Generate Music">
    </form>
</body>

</html>