{% extends "layout.html" %}

{% block title %}
: Generate Using AI
{% endblock %}

{% block main %}
    <h1>AI Music Generation</h1><br>
    <form action="{{ url_for('ai_generate')}}" method="POST" oninput="result.value = bpm.value">
        <label>Instrument</label>
        <select name="instrument">
            <option value="Piano" selected>Piano</option>
            <option value="Guitar">Guitar</option>
            <option value="Violin">Violin</option>
            <option value="Flute">Flute</option>
            <option value="Soprano">Soprano</option>
            <option value="ElectricGuitar">ElectricGuitar</option>
        </select>
        <br />

        <label>Model</label>
        <select name="model_input">
            <option value="hindi">Hindi</option>
            <option value="essen" selected>Essen</option>
        </select>
        <br />
        
        <label>Time Signature</label>
        <select name="timesig">
            <option value="2/2">2/2</option>
            <option value="2/4">2/4</option>
            <option value="3/4">3/4</option>
            <option value="4/4" selected>4/4</option>
            <option value="6/8">6/8</option>
            <option value="9/8">9/8</option>
            <option value="12/8">12/8</option>
        </select>
        <br/>

        <label>Bits Per Minute</label>
        <input type="range" min="20" max="200" step="1" name="bpm" value="120"> <output name="result">120</output>
        <br/>

        <input class="bn-main bn" type="submit" value="Generate Music">
    </form>
{% endblock %}